<!DOCTYPE HTML>
<html>
  <head>
    <h1>Roshambo - Rock, Paper, Scissors, Lizard, Spock</h1>
  </head>
  <br>
  <h2>You must visit '/throw/symbol' with symbol coming from 'rock, paper, scissors, lizard, spock' to play, or click an option below</h2>
</html>
